@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Carter One", system-ui;
}

.about p,
input,
textarea, 
footer h6 {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #182c61;
    padding: 16px 0;
}

header h1 {
    color: #ecf0f1;
    font-weight: normal;
    
}
header li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header li a {
    color: #ecf0f1;
    text-decoration: none;

}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 16px 0;
}

.about-container .container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-container .container img {
    width: 1000px;
    height: 300px;
}

.about {
    margin-left: 24px;
}

.about p {
    font-size: 18px;
    margin-bottom: 8px;
}

.container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #182c61;
    font-weight: normal;

}

.brands-list li {
    display: inline;
}

.about .brands-list img {
    margin: 20px 0;
    width: auto;
    height: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-container h3 {
    font-size: 18px;
    color: #182c61;
    text-transform: uppercase;
    font-weight: normal;
}

address {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-container .social-link {
    display: inline;
}

.contact-container .social-link img {
    margin-right: 10px;
    margin-top: 20px ;
    width: auto;
    height: 30px;
}

form input,
form textarea,
form button {
    display: block;
    margin-top: 5px;
    width: 320px;
    padding: 10px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

form button:hover{
    background-color:#185861  ;
}

form input:focus, form textarea:focus {
    outline-color: #182c61;
}

footer {
    padding: 16px 0;
    background-color: #182c61;
    font-size: 20px;
    color: #ecf0f1;
}

